<launch>

	<!-- SQUIRREL INTERACTION BOARD DRIVERS -->
    <node name="idmind_interaction" pkg="idmind_interaction" type="idmind_interaction" output="screen" required="true"/>

    <!-- GAMEPAD CONTROL -->
    <node name="joystick" pkg="joy" type="joy_node" required="true">
        <!-- <param name="dev" value="/dev/idmind-joystick" /> -->
        <param name="coalesce_interval" type="double" value="0.012" />
    </node>
    <node name="teleop_idmind_control" pkg="idmind_teleop" type="teleop_control.py" output="screen" required="true"/>
    
    <!-- LEDs AND SCREEN CONTROL -->
    <node name="squirrel_idmind_control" pkg="idmind_teleop" type="squirrel_control.py" output="screen" required="true"/>

    <!-- ASUS CAMERA -->
    <include file="$(find openni2_launch)/launch/openni2.launch" />

</launch>
