[Desktop Entry]
Type=Application
Exec=eog --fullscreen /home/pi/catkin_ws/src/squirrel_driver/squirrel_interaction/resources/media/images/look_front.png
