<?xml version="1.0"?>

<launch>

	<node name="screen" pkg="squirrel_interaction" type="raspberry_screen_server.py" />
	<node name="speakers" pkg="squirrel_interaction" type="playsound.py" />
	<node name="board" pkg="squirrel_interaction" type="board.py" />
	<node name="teleop" pkg="squirrel_interaction" type="teleop.py" />

</launch>
